@using BusinessObjects;
@model Book
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <div class="zoomed-image">
                                        <img  src="https://localhost:7186/api/Book/image/@Model.ID" />
                                    </div>
                                    <div class="sidebar">
                                        <img class="img-fluid d-block small-preview" src="https://localhost:7186/api/Book/image/@Model.ID" /><img class="img-fluid d-block small-preview"
                                                                                     src="assets/img/tech/image1.jpg" /><img class="img-fluid d-block small-preview"
                                                                                                                             src="assets/img/tech/image1.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info">
                                <h3>@Model.book_name</h3>
                                <div class="rating">
                                    <img src="assets/img/star.svg" /><img src="assets/img/star.svg" /><img src="assets/img/star.svg" /><img src="assets/img/star-half-empty.svg" /><img src="assets/img/star-empty.svg" />
                                </div>
                                <div class="price">
                                    <h3>@Model.book_price</h3>
                                </div>
                                <button class="btn btn-primary" asp-contr type="button">
                                    <i class="icon-basket"></i>Add to Cart
                                </button>
                                <div class="summary">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Donec augue nunc, pretium at augue at, convallis
                                        pellentesque ipsum. Vestibulum diam risus, sagittis at
                                        fringilla at, pulvinar vel risus. Vestibulum dignissim
                                        eu nulla eu imperdiet. Morbi mollis tellus a nunc
                                        vestibulum consequat. Quisque tristique elit et nibh
                                        dapibus sodales. Nam sollicitudin a urna sed iaculis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>