@using BusinessObjects;
@model Book
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <div class="zoomed-image">
                                        <img  src="https://localhost:7186/api/Book/image/@Model.ID" />
                                    </div>
                                    <div class="sidebar">
                                        <img class="img-fluid d-block small-preview" src="https://localhost:7186/api/Book/image/@Model.ID" /><img class="img-fluid d-block small-preview"
                                                                                     src="assets/img/tech/image1.jpg" /><img class="img-fluid d-block small-preview"
                                                                                                                             src="assets/img/tech/image1.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info">
                                <h3>@Model.book_name</h3>
                                <div class="rating">
                                    <img src="assets/img/star.svg" /><img src="assets/img/star.svg" /><img src="assets/img/star.svg" /><img src="assets/img/star-half-empty.svg" /><img src="assets/img/star-empty.svg" />
                                </div>
                                <div class="price">
                                    <h3>$@(Model.book_price)</h3>
                                </div>
                                <a id="addToCartBtn" asp-controller="Cart" asp-action="AddToCart"  asp-route-id="@Model.ID" class="btn btn-primary" type="button">
                                    Add to Cart
                                </a>

                                <div class="summary">
                                    <p> 
                                        @Model.book_description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    // Get the button element by its ID
    var addToCartBtn = document.getElementById("addToCartBtn");

    // Check if the quantity is less than or equal to 0
    if (@Model.quantity <= 0) {
        // Disable the button by adding the "disabled" attribute
        addToCartBtn.setAttribute("disabled", "disabled");
        // Show an alert to the user
        addToCartBtn.addEventListener("click", function(event) {
            event.preventDefault(); // prevent default action of the button
            alert("Sorry, this book is currently out of stock.");
        });
    }
</script>