@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="container" style="margin-right: 38.8px;margin: 100px;"></div>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <div class="container" style="margin-right: 38.8px;margin-bottom: 200px;"></div>
        </div>
    </section>
</main>
</div>
