@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			
				<div class="row justify-content-center">
					<div class="col-md-9 col-lg-12 col-xl-10">
						<div class="card shadow-lg o-hidden border-0 my-5">
							<div class="card-body p-0">
								<div class="row">
									<h2 class="text-info">Please check your email to reset your password.</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			

		</div>
		<div class="container" style="margin-right: 38.8px;margin-bottom: 360px;"></div>
	</section>
</main>