@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Log In</h2>
			</div>

			<form id="account" method="post" class="user">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control form-control-user" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control form-control-user" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="custom-control custom-checkbox small">
					<div class="form-check">
						<label class="form-check-label custom-control-label" asp-for="Input.RememberMe">
							<input class="form-check-input custom-control-input" asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary d-block btn-user w-100">Log in</button>
				</div>
				<div class="text-center">
					<p>
						<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
					</p>

				</div>
			</form>
		</div>

	</section>
</main>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}




