@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading"></div>
			</div>
		<h2>Your password has been reset. Please <a asp-area="Identity" asp-page="/Account/Login">click here to log in</a>. </h2>
		</div>
	</section>
	<div class="container" style="margin-right: 38.8px;margin-bottom: 300px;"></div>
</main>

</p>
