@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>

<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Reset your password.</h2>

				<form class="user" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input asp-for="Input.Code" type="hidden" />
					<div class="mb-3">
						<label asp-for="Input.Email" class="form-label"></label>
						<input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" />
						
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Input.Password" class="form-label"></label>
						<input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" />
						
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Input.ConfirmPassword" class="form-label"></label>
						<input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" />
						
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary d-block btn-user w-100">Reset</button>
				</form>
			</div>
		</div>
	</section>
</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
